@charset "utf-8";

body{
	margin:0;
	padding:0;
}

img{ 
	border:none;
}

.clear{
	clear:both;
}

#center{
	width:470px;
	height:280px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-155px 0 0 -225px;
}

#header{
	background-image:url('/assets/upstripe.jpg');
	background-repeat:repeat-x;
    slist-style:none;
	margin:0;
	padding:0;
	height:49px;
}

#header ul { 
	margin:0px;
} 

#header li{ 
	float:left;
	list-style:none;
	margin-right:20px;
}

#header li a {
	padding-top:10px;
	height:39px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	width:140px;
	display:block; 
	text-decoration:none;
	text-align:center;
	font-size:15px;
	color:#FFFFFF;
	background-image:url('/assets/selector.jpg');
	background-position:center;
	background-repeat:no-repeat;
}

#header li a:hover {
	color:#7396FF;
}

#header #social{
	float:right; 
	width:100px; 
	padding-top:10px;
}

#header #social img{
	padding-right:10px;
}

#logo{
	padding-top:50px;
}

#searchbox{ 
	margin-top:40px;
	width:455px; 
	height:55px;  
	background-image:url('/assets/searchbox.png'); 
	background-repeat:no-repeat;
	text-align:left;
	padding-top:6px;
	padding-left:6px;
	margin-bottom:20px;
}

#search{
	float:left;
	width:390px;
	height:40px;
	border:none; 
	background:none; 
	padding-top:4px; 
	padding-left:10px; 
	font-size:16px;
}

#searchbutton{ 
	float:left; 
	background: url('/assets/search.png') no-repeat top left; 
	border:none; 
	width:40px; 
	height:40px;
}

#footer{ 
	background-image:url('/assets/footer_stripe.jpg');
	text-align:center; color:#FFFFFF; height:50px; padding-top:10px;
	position:absolute;
	bottom:0;
	width:100%;
}

#footer a{
	color:#F90;
}